:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background: aliceblue;
}

body {
  margin: 5rem;
  min-height: 100%;
  text-align: center;
  /* background-color: #0d21a1; */
}

main {
  color: purple;
  background-color: mediumaquamarine;
  /* background: url('/src/images/fcc9aafd20f80901f9330d51aa33ad16.jpg'); */
  border: solid salmon 2rem;
  margin: 2rem;
  padding: 2rem;
}

#center-this {
  display: flex;
  justify-content: center;
  align-content: center;
}

#game-boxes {
  border: groove gray 0.1rem;
  background-color: gray;
  margin: 0;
  padding: 1rem;
}
